body {
	background-color: #202020;
	color: #ffffff;
}

.main {
	font-size: 3em;
	font-family: sans-serif;
}

.main h1 {
	font-size: 6em;
	font-family: serif;
}

.main h2 {
	font-size: 5em;
	font-family: serif;
}

.main h2 {
	font-size: 4.5em;
	font-family: serif;
}

.main p {
	margin-left: 2.5em;
}