body {
	background-color: #3d3d44;
	color: #ffffff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	font-size: 1.5em;
	font-family: sans-serif;
	flex: 1;
	margin-left: 2em;
	margin-right: 2em;
}

html {
	height: 100%;
}

main h1 {
	font-size: 3em;
	font-family: serif;
}

main h2 {
	font-size: 2.5em;
	font-family: serif;
}

main h2 {
	font-size: 2em;
	font-family: serif;
}

main p {
	margin-left: 1em;
}

.button {
	border: 0.25em outset #33babe;
	background-color: #2db0b4;
	border-radius: 10px;
	color: #ffffff;
	text-decoration: none;
	margin: 0.3em;
}

a:link { color: #6ed5e7; };
a:visited { color: #6ed5e7; };
a:hover { color: #78bebe; };
a:active { color: #6ed5e7; };