footer {
	display: flex;
  width: 100%;
  height: 50px;
	background-color: #5a745a;
  align-items: center;
  color: #e6dcdc;
}

footer ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

footer li {
  text-align: center;
  float: left;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a:link { color: #e6dcdc; }
footer ul li a:visited { color: #e6dcdc; }
footer ul li a:hover { color: #c5cccc; }
footer ul li a:active { color: #e6dcdc; }