footer {
  width: 100%;
	background-color: #5a745a;
  text-align: center;
  color: #e6dcdc;
}

footer ul {
  list-style-type: none;
  overflow: hidden;
}

footer li {
  text-align: center;
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a:link { color: #e6dcdc; }
footer ul li a:visited { color: #e6dcdc; }
footer ul li a:hover { color: #c5cccc; }
footer ul li a:active { color: #e6dcdc; }

footer div {
  text-align: center;
}