.index-main {
	display: flex;
}

.main-message-border {
	border: 2px solid #929596;
	margin-right: 1em;
	width: 100%;
}

.main-message {
	margin: 0.5em;
}

.sub-message-border {
	border: 2px solid #929596;
	margin-left: 1em;
	width: auto;
}

.sub-message {
	margin: 0.5em;
}

.news{
	list-style: none;
	size: 1.5em;
}

.news h3 a {
	color: #ffffff;
	text-decoration: underline;
}
.news h3 a:link { color: #ffffff; }
.news h3 a:visited { color: #ffffff; }
.news h3 a:hover { color: #ffffff; }
.news h3 a:active { color: #ffffff; }