.index-main {
	display: flex;
}

.main-message-border {
	border: 2px solid #929596;
	margin-right: 1em;
	width: 100%;
}

.main-message {
	margin: 0.5em;
}

.sub-message-border {
	border: 2px solid #929596;
	margin-left: 1em;
	width: auto;
}

.sub-message {
	margin: 0.5em;
}

.news{
	list-style: none;
	size: 1.5em;
}