.member {
	border: 6px double #cccccc;
	border-radius: 0.75em;
	background-color: #444444;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
	height: auto;
}

.member-title {
	width: 8%;
	height: auto;
	float: left;
}

.member-info {
	width: 50%;
	height: auto;
	float: right;
}

.member-icon {
	width: 10rem;
	height: 10rem;
}

.member-name {
	size: 2em;
	text-align: center;
}

.member-description {
	size: 1.5em
}

.member-link {
	size: 1.5em
}

.member-link a:link { color: #43c2d8; };
.member-link a:visited { color: #43c2d8; };
.member-link a:hover { color: #a1eeee; };
.member-link a:active { color: #43c2d8; };
