.member {
	display: flex;
	border: 6px double #cccccc;
	border-radius: 1em;
	background-color: #444444;
	margin: 5%;
	width: 80%;
	height: auto;
	align-items: center;
}

.member-title {
	width: auto;
	height: auto;
	margin: 2%;
}

.member-info {
	width: auto;
	height: auto;
	margin: 2%;
}

.member-icon {
	display: flex;
	width: 10rem;
	height: 10rem;
	vertical-align: top;
}

.member-name {
	display: flex;
	size: 2em;
	width: 10rem;
	text-align: center;
	vertical-align: top;
}

.member-description {
	display: flex;
	size: 1.5em;
	width: auto;
	height: auto;
	vertical-align: top;
}

.member-link {
	display: flex;
	size: 1.5em;
	width: auto;
	height: auto;
	vertical-align: top;
}
